* {
    font-family: 'Old English', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-image: url("https://cdn.vox-cdn.com/thumbor/-EiajP4lnDPP-2_gZ5vRPGu3lQc=/cdn.vox-cdn.com/uploads/chorus_asset/file/3706148/openworld-places-3.0.jpg");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.shape-for-form {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1em white;
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    width: 70%;
    max-height: 1000px;
    height: 88%;
}

#playersBoard,
#computersBoard {
    display: flex;
    justify-content: space-around;
    height: 210px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    text-align: center;
    margin: 5px;
}

h3 {
    font-size: 20px;
    padding: 5px;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, 0); }
    20% { transform: translate(2px, 0); }
    30% { transform: translate(-2px, 0); }
    40% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    60% { transform: translate(2px, 0); }
    70% { transform: translate(-2px, 0); }
    80% { transform: translate(2px, 0); }
    90% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
}

.card {
    border-radius: 5%;
    height: 200px;
    width: 125px;
}

#buttons-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #8B4513;
    border: 2px solid #CD853F;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #A0522D;
}

button:hover {
    background-color: #6c381f;
    color: #fff;
    box-shadow: 4px 4px 4px #5c2e0d;
    animation: shake 0.5s ease 1;
}

/* Media query for responsiveness */
@media only screen and (max-width: 960px) {
    .shape-for-form {
        width: 90%;
        height: 90%;
    }
    .player {
        width: 100%;
    }
    .card {
        border-radius: 5%;
        height: 150px;
        width: 100px;
    }
    #playersBoard,
    #computersBoard {
        flex-direction: row;
        align-items: center;
        height: 30%;
    }
}

@media only screen and (max-width: 660px) {
    .card {
        border-radius: 5%;
        height: 150px;
        width: 100px;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        border-radius: 5%;
        height: 125px;
        width: 77.5px;
    }
}

@media only screen and (max-width: 320px) {
    .card {
        border-radius: 5%;
        height: 100px;
        width: 62.5px;
    }
}